body {
    width: 100vh;
    height: 100vh;
    background-color: #d6d4d4;
   
}

header {
    height: 160px;
    width: 100vh;
    background-color: black;
    padding: 0;
    margin: 0;
}

.box1 {
    background-color: #f5e9e9;
    width: 75%;
    height: 680px;
    left: -20px;
    margin: auto;
}
.box2 {
    background-color: black;
    width: 75%;
    height: 100px;
    
    margin: auto; 
}